<ul>
{{#each}}
  <li>
    {{name}} - {{score}}
    <button {{action 'givePoints' this 5}}> Given 5 Points </button>
    <button {{action 'takePoints' this 5}}> take 5 Points </button>
    <button {{action 'destroyUser' this}}> Destroy</button>
  </li>
{{/each}}
</ul>
<h1>total: {{total}}</h1>
{{render 'player/new'}}
