<div class="leaderboard">
  {{#each}}
    <div {{bindAttr class=":player selected"}} {{action 'selectPlayer' this}}>
      <span class="name">{{name}}</span>
      <span class="score">{{score}}</span>
    </div>
    </li>
  {{/each}}
  </ul>
</div>
<h1>total: {{total}}</h1>
<div class="details">
{{#if selectedPlayer}}
  {{render 'player/edit' selectedPlayer}}
{{/if}}
{{render 'player/new'}}
</div>
